
/build
data/
# Database
data.db.back
*.db
.db-backups/
*.db-shm
*.db-wal
.DS_Store
.env
.env.*
# Env
!.env.example
!.env.test
.netlify
node_modules
# OS
.output
# Output
.superpowers/
/.svelte-kit
Thumbs.db
.vercel
# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.wrangler
